

button{
	border: none;
}
section{
	padding: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.choice{
	text-align: center;
	background-color: lightblue;
	height: 100px;
	width: 100px;
	padding: 10px;
	border-radius: 10px;
	margin: 10px
}
.choice:hover{
	background-color: darkturquoise;
}

textarea{
	width: 100%;
}

input{
	width: 400px;
}


.submit-button{
	margin-top: 10px;
	background-color: teal;	
	padding: 10px;
	color: white;
	border: none;
}

.bottom-hint{
	padding:10px;
	color:teal;
	font-size:1em;
}

.error-message{
	color: red;
}