{% extends "scbasis/layout.html" %}
 
{% block body %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scbasis/course_and_competition_page/styles.css' %}">
    
        <h2 id='heading'>Competition Guides</h2>
        <br>
    <div class = "container">
        <label>Math Competitions</label>
        <ul class="course_list">
            {% for competition in math_competitions %}
                <a href="{% url 'display_competitions' competition.id %}">
                <li class="course_name">{{competition.name_of_competition}}</li>
                </a>
            {% endfor %}
        </ul>
        <br>
        <label>Economic Competitions</label>
        {% for competition in economic_competitions %}
            <a href="{% url 'display_competitions' competition.id %}">
            <li class="course_name">{{competition.name_of_competition}}</li>
            </a>
        {% endfor %}
        <br>
        <label>Biology Competitions</label>
        {% for competition in biology_competitions %}
            <a href="{% url 'display_competitions' competition.id %}">
            <li class="course_name">{{competition.name_of_competition}}</li>
            </a>
        {% endfor %}
        <br>
        <label>Chemistry Competitions</label>
        {% for competition in chemistry_competitions %}
            <a href="{% url 'display_competitions' competition.id %}">
            <li class="course_name">{{competition.name_of_competition}}</li>
            </a>
        {% endfor %}
        <br>
        <label>Physics Competitions</label>
        {% for competition in physics_competitions %}
            <a href="{% url 'display_competitions' competition.id %}">
            <li class="course_name">{{competition.name_of_competition}}</li>
            </a>
        {% endfor %}
        <br>
        <label>Speech and Debate Competitions</label>
        {% for competition in speech_and_debate_competitions %}
            <a href="{% url 'display_competitions' competition.id %}">
            <li class="course_name">{{competition.name_of_competition}}</li>
            </a>
        {% endfor %}
        <br>
    </div>
    
{% endblock %}