{% extends "scbasis/layout.html" %}

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scbasis/display_pages/styles.css' %}">
<img class="header-image" src="{{guide.url_of_image}}">
   <h2 id="heading">{{ guide.name_of_course }}</h2>
   <section class="guide-content">
   		<p class="editor">Editor: {{ guide.editor }}</p>
   		<p>Date created: {{ guide.date_created }}</p>
   	<br>
   <p class="content-elements">{{ course_description|safe }}</p>
   <p class="thanks">Thanks for reading!</p>
   <p class="end_contact"> If you have any inquiries or suggestions about this page or this website in peticular please feel free to email us at scbsresourceweb@outlook.com</p>
</section>
{% endblock %}