
.guide-content{
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 100px;
}

.content-elements{
	margin-bottom: 20px;
}

h1{
  color: #d4af37;
  font-size: 2.3em;
}

h2{
	color: teal;
	font-size: 1.8em;
}

h3{
	color:teal;
	font-size: 1.5em;
}



img {
	max-width:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a{
	color:teal;
}

p{
	margin-bottom: 20px;
}

ul, ol{
	padding-left: 60px;
}

.thanks{
	color: #d4af37;
	margin-top: 40px;
	font-weight: 500;
	font-size: 1.6em;
	text-align: center;
}

.header-image{
	max-width: 100% !important;
	width: 100%;
	height: 400px !important;
}
